{% extends 'website/baseline.html' %}
	
{% block content %}
	<style type="text/css">

	</style>
<center>
	<div>
		<form method="post", enctype="multipart/form-data", action="{% url 'file_upload' path=path %}" >
			{% csrf_token %}
			<div style="border: solid; display:inline-block; padding: 5px; border-color: skyblue" >
				<input type="file" name="file">
			</div>
				<button style="margin-top: 10px" class="ui primary button" type="submit"><i class="upload icon"></i>업로드</button>
		</form>
	</div>
</center>
<div>
	<button class="ui primary button" style="margin-left: 28%" onclick="make_folder()"><i class="plus icon"></i>폴더 만들기</button>
	<div style="display: none;" id="dir_make">
			<input type="text" id="dir_name">
			<button class="ui primary button" onclick="make_directory({{path}} )">만들기</button>
	</div>
</div>
<br>
<center>
	<table style="margin-top: 7px" class="ui celled striped collapsing table">
	  <thead>

	    <tr><th class="twelve wide">/{{ path }}</th>
	    	 <th>복사</th>
	    	  <th >이동</th>
	    	   <th>삭제</th>
	    	   <th >다운로드</th>
	  </tr></thead>
	  <tbody>
	  	{% for file in files %}
		   <tr>
		      <td class="collapsing">
		      	{% if file.type == "directory" %}
		      		{% with new_path=path|add:file.name|add:'/' %}
		        	<a href="{% url 'file_list' path=new_path %}"><i class="folder icon"></i> {{file.name}}</a>
		        	{% endwith %}
		        {% else %}
		        	<i class="file outline icon"></i> {{file.name}}
		        {% endif %}
		      </td>
		      <td class="center aligned collapsing">
		      	{% with new_path=path|add:file.name|add:'/' %}
		        	<a href="#"><i class="copy outline icon"></i></a>
		        {% endwith %}
		      	
		      </td>
		      <td class="center aligned collapsing"><i onclick="make_folder()" style="cursor: pointer;" class="sign out alternate icon"></i></td>
		      <td class="center aligned collapsing">
		      	{% with new_path=path|add:file.name %}
		        	<a href="{% url 'file_delete' path=new_path %}"><i class="trash alternate outline icon"></i></a>
		        {% endwith %}
		    </td>
		      <td class="center aligned collapsing"><i  style="cursor: pointer;" class="download icon"></i></td>
		    </tr>
	    {% endfor %}
	</tbody>
	</table>
</center>

    <script type="text/javascript">
    	function uploadChange(file) {
		  var el = file.parentNode.parentNode.getElementsByTagName("*");
		  for (var i = 0; i < el.length; i++) {
		    var node = el[i];
		    if (node.className == "file-text") {
		      node.innerHTML = file.value;
		      break;
		    }
		  }
		}
		function make_folder(){
			document.getElementById("dir_make").style.display = "inline-block";
		}

		function make_directory(dir_path){
			dir = document.getElementById("dir_name").value;
			var dir_path = "{{ path }}";
			new_path = dir_path + dir + '/';
			location.href = "{% url 'make_folder' path='' %}" + new_path;
		}

		function copy(){

		}
		function move(){

		}
		function delete_file(){

		}
		function download(){

		}
    </script>
{% endblock %}